/* Homes.css */
.homes-section {
  height: 65vh; /* Take up 100% of the viewport height */
  width: 100%; /* Take up 100% of the viewport width */
  margin-top: 60px;
  justify-content: center; /* Center-align content horizontally */
  text-align: center; /* Center-align content within each div */
}
img {
  max-width: 100%; /* Set maximum width to 100% of the parent container's width */
  height: 400px; /* Set maximum height to 100% of the parent container's height */
}
.main {
  padding: 36px 0px 20px 0px;
  align-items: center;
}
.carousel-control-prev,
.carousel-control-next {
  color: red; /* Change the color of the arrows */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Change the background color of the arrow icons */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: grey; /* Change the color of the arrows on hover */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: grey; /* Change the background color of the arrow icons on hover */
}