.bg-body-tertiary {
    padding: 10px 60px 10px 60px;
}
.nav-link {
    margin: 0px 10px 0px 10px;
  }
.logoname {
    margin-right: 40px; 
}
  .search-form {
    margin-right: 40px; /* Adjust as needed */
  }
  
  .search-icon {
    padding: 15px 5px 10px 5px;
    color: #28a745; /* Adjust the color as needed */
    cursor: pointer;
  }
  .search-input {
    font-size: 1rem; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
  }
.bg-body-tertiary {
  background-color: #696969;
}